@font-face {
  		font-family: 'MinecraftFive';
  		src: url('font/MinecraftFivev2-Regular.woff') format('woff');
}
@font-face {
  		font-family: 'MinecraftSeven';
  		src: url('font/MinecraftSeven.woff') format('woff');
}
@font-face {
  		font-family: 'MinecraftTen';
  		src: url('font/MinecraftTenv2-Regular.woff') format('woff');
}
@font-face {
		font-family: 'PublicSans';
		src: url('font/PublicSans-Regular.woff') format('woff');
		font-style: normal;
}
@font-face {
		font-family: 'PublicSans';
		src: url('font/PublicSans-Italic.woff') format('woff');
		font-style: italic;
}

body {
    background-color: #15202b;
    font-family: 'PublicSans', sans-serif;
	src: url('font/PublicSans-Regular.woff') format('woff');
}

p {
    color: #ffffff;
    text-align: center;
    font-family: 'PublicSans';
    font-weight: 400;
    font-size: 1.15rem;
    margin-top: 16px;
    margin-bottom: 16px;
}
h1 {
    color: #ffffff;
    text-align: center;
    font-family: 'MinecraftTen';
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 16px;
}
h2 {
    color: #ffffff;
    text-align: center;
    font-family: 'MinecraftFive';
    font-weight: 400;
    font-size: 2.3rem;
    margin-top: 16px;
    margin-bottom: 16px;
}
h3 {
    color: #ffffff;
    text-align: center;
    font-family: 'MinecraftFive';
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 16px;
    margin-bottom: 16px;
}