/*estilops de fuentes*/

@font-face {
    font-family: 'GoogleSansFlex';
    src: url('font/MontserratAlternates-Regular.woff') format('woff');
    font-style: normal;
}
@font-face {
  		font-family: 'MinecraftFive';
  		src: url('font/MinecraftFivev2-Regular.woff') format('woff');
}
@font-face {
  		font-family: 'MinecraftSeven';
  		src: url('font/MinecraftSeven.woff') format('woff');
}
@font-face {
  		font-family: 'MinecraftTen';
  		src: url('font/MinecraftTenv2-Regular.woff') format('woff');
}
@font-face {
		font-family: 'PublicSansVar';
		src: url('font/PublicSans-Variable.woff') format('woff');
        src: url('font/PublicSans-Variable.woff2') format('woff2');
		font-style: normal;
}
@font-face {
		font-family: 'PublicSans';
		src: url('font/PublicSans-Regular.woff') format('woff');
        src: url('font/PublicSans-Regular.woff2') format('woff2');
		font-style: normal;
}
@font-face {
		font-family: 'PublicSans';
		src: url('font/PublicSans-Italic.woff') format('woff');
        src: url('font/PublicSans-Italic.woff2') format('woff2');
		font-style: italic;
}
@font-face {
    font-family: 'MonserratAlternates';
    src: url('font/MontserratAlternates-Regular.woff') format('woff');
    font-style: normal;
	font-weight: 400;
}
@font-face {
    font-family: 'MonserratAlternates';
    src: url('font/MontserratAlternates-Medium.woff') format('woff');
    font-style: normal;
	font-weight: 500;
}
@font-face {
    font-family: 'MonserratAlternates';
    src: url('font/MontserratAlternates-SemiBold.woff') format('woff');
    font-weight: 600;
}