/*estilops de fuentes*/

/*oswald: 200: light, 400: normal, 700: bold*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@font-face {
    font-family: 'GoogleSansFlex';
    src: url('font/MontserratAlternates-Regular.woff') format('woff');
    font-style: normal;
}
@font-face {
  		font-family: 'MinecraftFive';
  		src: url('font/MinecraftFivev2-Regular.woff') format('woff');
}
@font-face {
  		font-family: 'MinecraftSeven';
  		src: url('font/MinecraftSeven.woff') format('woff');
}
@font-face {
  		font-family: 'MinecraftTen';
  		src: url('font/MinecraftTenv2-Regular.woff') format('woff');
}
@font-face {
		font-family: 'PublicSansVar';
		src: url('font/PublicSans-Variable.woff') format('woff');
        src: url('font/PublicSans-Variable.woff2') format('woff2');
		font-style: normal;
}
@font-face {
		font-family: 'PublicSans';
		src: url('font/PublicSans-Regular.woff') format('woff');
        src: url('font/PublicSans-Regular.woff2') format('woff2');
		font-style: normal;
}
@font-face {
		font-family: 'PublicSans';
		src: url('font/PublicSans-Italic.woff') format('woff');
        src: url('font/PublicSans-Italic.woff2') format('woff2');
		font-style: italic;
}
@font-face {
    font-family: 'MonserratAlternates';
    src: url('font/MontserratAlternates-Regular.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'MonserratAlternates';
    src: url('font/MontserratAlternates-Medium.woff') format('woff');
    font-weight: medium;
}
@font-face {
    font-family: 'MonserratAlternates';
    src: url('font/MontserratAlternates-SemiBold.woff') format('woff');
    font-weight: bold;
}